* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1616px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 32px;
}

.icon-pen {
  width: 8px;
  height: 8px;
  fill: #494949;
}

.input-block {
  position: relative;
  width: 193px;
}

.input-block__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  user-select: none;
  pointer-events: none;
  transition: all ease-out .15s;
}

.input-block__input {
  height: 20px;
  width: 100%;
  padding: 0 15px 0 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #494949;
  font-family: Roboto;
  font-size: 12px;  
  color: #494949;
}

.input-block__input::placeholder {
  color: #494949;
  transition: all ease-out .15s;
}

.input-block__input:hover::placeholder,
.input-block__input:focus::placeholder {
  color: #708FFF;
}

.input-block__input:hover + .input-block__icon,
.input-block__input:focus + .input-block__icon {
  fill: #708FFF;
}